In [1]:
name = input("Enter your Name:")
print("Hello", name, "!Welcome")

Hello Purushottam !Welcome

In [2]:
s = "Purushottam"
print(s)

Purushottam

In [3]:
s = "Anjelina"
age = 25
city = "New York"
print(s, age, city)

Anjelina 25 New York

In [4]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Number of boys:  10
Number of girls:  20

In [5]:
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Total number of students:  20
Number of boys is :  20
Number of girls is :  20

In [6]:
color = input("What color is rose?: ")
print(color)

Green

In [9]:
# Find DataTypes in Python
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks") #tuple
e = ["Geeks", "for", "Geeks"] #list 
f = {"Geeks": 1, "for":2, "Geeks":3} #dict

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

Rules for Naming Variables
To use variables effectively, we must follow Pythonâ€™s naming rules:

Variable names can only contain letters, digits and underscores (_).
A variable name cannot start with a digit.
Variable names are case-sensitive like myVar and myvar are different.
Avoid using Python keywords like if, else, for as variable names.

In [13]:
x = 5
y = 3.14
z = "Hi"
a = b = c = 100
m, n, o = 1, 2.5, "Python"

print(x, y, z)
print(a, b, c)
print(m, n, o)

5 3.14 Hi
100 100 100
1 2.5 Python

In [16]:
#Type Casting a Variable
#Type casting refers to the process of converting the value of one data type into another. 
# Python provides several built-in functions to facilitate casting, including int(), float() and str() among others.

#Basic Casting Functions
# int(): Converts compatible values to an integer.
# float(): Transforms values into floating-point numbers.
# str(): Converts any data type into a string.

s = "10"  
n = int(s) 
cnt = 5
f = float(cnt)  
age = 25
s2 = str(age)  

print(n)  
print(f)  
print(s2)

print(type(n))  
print(type(f))  
print(type(s2))

10
5.0
25
<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
x = 5
y = x
print(y)
print(x)
x = 10
print(x)
print(y)

5
5
10
5

In [22]:
x = 10
print(x) 
del x
#print(x)

10

In [23]:
# Swapping Two Variables
# Using multiple assignments, 
# we can swap the values of two variables without needing a temporary variable.

a, b = 5, 10
a, b = b, a
print(a, b)

10 5

In [24]:
# Counting Characters in a String
# Assign the results of multiple operations on a string to variables in one line.

word = "Python"
length = len(word)
print("Length of the word:", length)

Length of the word: 6