In [5]:
print("Hello Arnavi")

Hello Arnavi

In [6]:
input("what is your name")

'Arnavi'

In [7]:
name = 'arnavi'
print(name)

arnavi

In [8]:
a = True
b = False

a + b

1

In [9]:
a + a

2

In [12]:
import pandas as pd

In [13]:
import pandas as pd

In [14]:
pd.read_csv("data/can_lang.csv")

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

In [16]:
can_lang = pd.read_csv("data/can_lang.csv")
can_lang

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

In [17]:
can_lang[can_lang["category"] == "Aboriginal languages"]

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
5,Aboriginal languages,"Algonquian languages, n.i.e.",45,10,0,120
6,Aboriginal languages,Algonquin,1260,370,40,2480
12,Aboriginal languages,"Athabaskan languages, n.i.e.",50,10,0,85
13,Aboriginal languages,Atikamekw,6150,5465,1100,6645
...,...,...,...,...,...,...
191,Aboriginal languages,Thompson (Ntlakapamux),335,20,0,450
195,Aboriginal languages,Tlingit,95,0,10,260
196,Aboriginal languages,Tsimshian,200,30,10,410
206,Aboriginal languages,"Wakashan languages, n.i.e.",10,0,0,25
210,Aboriginal languages,Woods Cree,1840,800,75,2665

In [18]:
can_lang[["language", "mother_tongue"]]

                           language  mother_tongue
0      Aboriginal languages, n.o.s.            590
1                         Afrikaans          10260
2    Afro-Asiatic languages, n.i.e.           1150
3                        Akan (Twi)          13460
4                          Albanian          26895
..                              ...            ...
209                           Wolof           3990
210                      Woods Cree           1840
211               Wu (Shanghainese)          12915
212                         Yiddish          13555
213                          Yoruba           9080

[214 rows x 2 columns]

In [20]:
aboriginal_lang = can_lang.loc[can_lang["category"] == "Aboriginal languages",["language", "mother_tongue"]]

In [21]:
aboriginal_lang

                         language  mother_tongue
0    Aboriginal languages, n.o.s.            590
5    Algonquian languages, n.i.e.             45
6                       Algonquin           1260
12   Athabaskan languages, n.i.e.             50
13                      Atikamekw           6150
..                            ...            ...
191        Thompson (Ntlakapamux)            335
195                       Tlingit             95
196                     Tsimshian            200
206    Wakashan languages, n.i.e.             10
210                    Woods Cree           1840

[67 rows x 2 columns]

In [22]:
arranged_lang = aboriginal_lang.sort_values(by = "mother_tongue" , ascending=False)
arranged_lang

                        language  mother_tongue
40                  Cree, n.o.s.          64050
89                     Inuktitut          35210
138                      Ojibway          17885
137                     Oji-Cree          12855
48                          Dene          10700
..                           ...            ...
32                        Cayuga             45
176           Southern East Cree             45
179                     Squamish             40
90   Iroquoian languages, n.i.e.             35
206   Wakashan languages, n.i.e.             10

[67 rows x 2 columns]

In [23]:
first_top_ten = arranged_lang.head(10)
first_top_ten

              language  mother_tongue
40        Cree, n.o.s.          64050
89           Inuktitut          35210
138            Ojibway          17885
137           Oji-Cree          12855
48                Dene          10700
125  Montagnais (Innu)          10235
119            Mi'kmaq           6690
13           Atikamekw           6150
149        Plains Cree           3065
180             Stoney           3025

In [24]:
canadian_population = 35_151_728
first_top_ten["mother_tongue_percent"] = 100 * first_top_ten["mother_tongue"] / canadian_population
first_top_ten

/var/folders/rz/q_ycy8wn56v66xqgsjqcc7540000gn/T/ipykernel_40343/2748972538.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_top_ten["mother_tongue_percent"] = 100 * first_top_ten["mother_tongue"] / canadian_population

              language  mother_tongue  mother_tongue_percent
40        Cree, n.o.s.          64050               0.182210
89           Inuktitut          35210               0.100166
138            Ojibway          17885               0.050879
137           Oji-Cree          12855               0.036570
48                Dene          10700               0.030439
125  Montagnais (Innu)          10235               0.029117
119            Mi'kmaq           6690               0.019032
13           Atikamekw           6150               0.017496
149        Plains Cree           3065               0.008719
180             Stoney           3025               0.008606

In [25]:
# Writing Readable Code

aboriginal_lang = can_lang.loc[
    can_lang["category"] == "Aboriginal languages",
    ["language", "mother_tongue"]
]
arranged_lang_sorted = aboriginal_lang.sort_values(
    by="mother_tongue",
    ascending=False
)
first_top_ten = arranged_lang_sorted.head(10)

In [26]:
first_top_ten

              language  mother_tongue
40        Cree, n.o.s.          64050
89           Inuktitut          35210
138            Ojibway          17885
137           Oji-Cree          12855
48                Dene          10700
125  Montagnais (Innu)          10235
119            Mi'kmaq           6690
13           Atikamekw           6150
149        Plains Cree           3065
180             Stoney           3025

In [28]:
# Sorter version of Code
first_top_ten = (
can_lang.loc[
    can_lang["category"] == "Aboriginal languages",
    ["language", "mother_tongue"]
]
.sort_values(
    by="mother_tongue",
    ascending=False
)
.head(10))

In [29]:
first_top_ten

              language  mother_tongue
40        Cree, n.o.s.          64050
89           Inuktitut          35210
138            Ojibway          17885
137           Oji-Cree          12855
48                Dene          10700
125  Montagnais (Innu)          10235
119            Mi'kmaq           6690
13           Atikamekw           6150
149        Plains Cree           3065
180             Stoney           3025